
</br>
</br>
</br>
</br>


<div class="profil" align="center">
<h2> <%= @corsair.first_name %> </h2>
<p> Je suis d'accord avec toi, un bon gros <%= @corsair.likeness %> ça défonce tout !
<p> Et tu sais de quoi tu parles avec tes <%= @corsair.age %> ans d'expérience !</p>
<p>  <%= link_to('Editer', edit_corsair_path) %> </p> 
<p>  <%= link_to('Retour accueil', corsairs_path) %> </p> 
